/* 通栏宽度 */
/* 定义常用颜色,scss中使用$符号，而less中使用@符号定义变量 */
$skin: #c91706;
$skin_hover:#e92312;

.w {
    width: 1200px;
    margin: 0 auto;
}

.head_bar {
    background-color: #eee;

    .head_son {
        height: 32px;
        line-height: 32px;
        color: #666;

        dl {
            font-size: 12px;

            dd a,
            dt.register a {
                color: #666;

                &:hover {
                    color: $skin;
                    text-decoration: none;
                }
            }

            dd {
                float: left;

                >a {
                    color: #666;
                }

                >span {
                    margin: 0 5px;
                }
            }

            dt {
                float: left;
                margin-right: 500px;

                >a:nth-child(2) {
                    color: #666;
                }

                >a:last-child {
                    color: $skin_hover;
                }
            }
        }
    }
}

/* logo和搜索框样式 */

.head_nav {
    // background-color: hotpink;
    position: relative;

    .logo {
        h1 {
            a {
                display: block;
                height: 105px;
                background: url('../images/logo.png') no-repeat left center;
                text-indent: -999px;
            }
        }
    }

    .search {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .search_input {
            position: relative;
            width: 420px;

            input[type='text'] {
                width: 366px;
                height: 36px;
                border: 1px solid $skin;
                padding-left: 5px;

                &::placeholder {
                    font-size: 14px;
                }
            }

            input[type='button'] {
                width: 50px;
                height: 38px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: $skin;
                color: #ffffff;
                border: 0;
            }
        }

        ul {
            margin-top: 10px;

            li {
                float: left;
                margin: 0 5px;
                font-size: 12px;

                a {
                    color: #333;

                    &.first {
                        color: $skin_hover;
                    }

                    &:hover {
                        color: $skin;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .car {
        width: 130px;
        height: 38px;
        position: absolute;
        right: 95px;
        top: 20px;

        >a {
            line-height: 38px;
            text-align: center;
            display: block;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 14px;
            color: #666;
            background-color: #eee;

            &:hover {
                text-decoration: none;
            }
        }

        .count {
            width: 20px;
            height: 15px;
            line-height: 15px;
            border-radius: 8px;
            background-color: $skin;
            color: #ffffff;
            text-align: center;
            font-size: 12px;
            position: absolute;
            top: -3px;
            right: 15px;

        }
    }
}

/* 导航栏样式 */
.shopping_nav {
    .red_str {
        height: 45px;
        border-bottom: 2px solid $skin;
    }

    .goods_nav {
        height: 638px;
        position: relative;
        /* 为了使得子绝父相情况下，子元素goods_fixed中的margin有效 */
       /*  transform: translate(0, 0); */

        >.shopping_cate {
            width: 210px;
            height: 512px;
            background-color: $skin;
            position: absolute;
            top: -47px;

            dt {
                text-align: center;
                font-size: 14px;
                color: #ffffff;
                line-height: 45px;
                margin-bottom: 2px;
            }

            dd {
                height: 31px;
                line-height: 31px;
                padding-left: 10px;
                position: relative;

                &:hover {
                    background-color: #ffffff;
                }

                a.cate_link {
                    font-size: 12px;
                    color: #ffffff;

                    &::after {
                        margin-right: 20px;
                        font-size: 14px;
                        text-decoration: none;
                        color: #ffffff;
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        transform: translateY(-50%);

                    }

                    &:hover {
                        text-decoration: none;
                        color: $skin;
                    }
                }
            }
        }

        >.shopping_link {
            position: absolute;
            left: 210px;
            top: -47px;

            ul {
                li {
                    height: 100%;
                    line-height: 45px;
                    float: left;
                    margin: 0 28px;
                    text-align: center;

                    >a {
                        font-size: 14px;
                        color: #666;

                        &:hover {
                            color: $skin;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        >.shopping_show {
            /* 注意calc()方法中的运算法左右要保留一个空格，否则width设置无效
            width 100%，为w,去掉左边210px,和左边margin 10px
            */
            width: calc(100% - 210px - 10px);
            height: 455px;
            margin: 10px 0 0 10px;
            position: absolute;
            left: 210px;
            top: 0;
            /*  background-color: blue; */
            display: flex;
            flex-direction: row;

            .side {
                width: 250px;
                margin-left: 10px;

                .side_content {
                    height: 379px;
                    border: 1px solid #ddd;

                    .side_title {
                        height: 34px;
                        line-height: 34px;
                        border-bottom: 1px dashed #eee;
                        padding: 0 10px;
                        font-size: 12px;

                        >span,
                        >a {
                            color: #666;
                        }

                        >span {
                            font-size: 14px;
                        }

                        >a.icon-arrowRig {
                            margin-left: 115px;
                            color: #666;

                            &::after {
                                margin-left: 3px;
                            }

                            &:hover {
                                text-decoration: none;
                                color: $skin;
                            }
                        }
                    }

                    .side_link {
                        height: 130px;
                        border-bottom: 1px solid #ddd;

                        li {
                            height: 20px;
                            line-height: 20px;
                            margin: 5px 5px;

                            a {
                                color: #666666;
                                font-size: 12px;

                                &:hover {
                                    text-decoration: none;
                                    color: $skin;
                                }
                            }
                        }
                    }

                    .side_icon {
                        /*   box-sizing: border-box; */

                        li {
                            width: 25%;
                            float: left;

                            &:nth-child(4n)>a {
                                border-right: 0;
                            }

                            &:nth-child(9) a,
                            &:nth-child(10) a,
                            &:nth-child(11) a,
                            &:nth-child(12) a {
                                border-bottom: 0;
                            }

                            >a {
                                width: 100%;
                                display: block;
                                border-right: 1px solid #cccccc;
                                border-bottom: 1px solid #cccccc;
                                color: #666666;

                                /*  box-sizing: border-box;
 */
                                &:hover {
                                    text-decoration: none;
                                    color: $skin;
                                }

                                >em {
                                    display: block;
                                    width: 100%;
                                    height: 48px;
                                    background: url('../images/icons.png') no-repeat 0 -6px;
                                }

                                >p {
                                    text-align: center;
                                    font-size: 12px;
                                    padding-bottom: 5px;
                                }


                            }

                            &:nth-child(2)>a em {
                                background-position: -62px -6px;
                            }

                            &:nth-child(3)>a em {
                                background-position: -124px -6px;
                            }

                            &:nth-child(4)>a em {
                                background-position: -186px -6px;
                            }

                            &:nth-child(5)>a em {
                                background-position: 0 -78px;
                            }

                            &:nth-child(6)>a em {
                                background-position: -62px -78px;
                            }

                            &:nth-child(7)>a em {
                                background-position: -124px -78px;
                            }

                            &:nth-child(8)>a em {
                                background-position: -186px -78px;
                            }

                            &:nth-child(9)>a em {
                                background-position: 0 -150px;
                            }

                            &:nth-child(10)>a em {
                                background-position: -62px -150px;
                            }

                            &:nth-child(11)>a em {
                                background-position: -124px -150px;
                            }

                            &:nth-child(12)>a em {
                                background-position: -186px -150px;
                            }

                            &:nth-child(4n)>a {
                                border-right: 0;
                            }

                            &:nth-child(9) a,
                            &:nth-child(10) a,
                            &:nth-child(11) a,
                            &:nth-child(12) a {
                                border-bottom: 0;
                            }
                        }
                    }
                }

                .show_img {
                    margin-top: 5px;
                }


            }

            .show {
                flex: 1;
                background-color: orange;

                .playshow {
                    width: 721px;
                    overflow: hidden;
                    position: relative;

                    ul.play_img {
                        width: 5768px;

                        li {
                            float: left;

                            a {
                                display: block;

                                img {
                                    vertical-align: bottom;
                                }
                            }
                        }
                    }

                    ul.play_ind {
                        position: absolute;
                        bottom: 10px;
                        left: 50%;
                        transform: translateX(-50%);

                        li {
                            float: left;
                            margin: 0 5px;

                            a {
                                display: block;
                                width: 10px;
                                height: 10px;
                                background: rgba($color: #fff, $alpha: .7);
                                border-radius: 50%;
                            }
                        }
                    }

                    .play_btn {

                        .play_left,
                        .play_right {
                            display: block;
                            width: 30px;
                            height: 50px;
                            background: rgba(#fff, .5);
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            text-align: center;
                            line-height: 50px;
                            /* 设置点击为小手 */
                            cursor: pointer;

                        }

                        .play_left {
                            left: 0;
                        }

                        .play_right {
                            right: 0;
                        }
                    }
                }

            }
        }

        >.shopping_tell {
            width: 100%;
            height: 162px;
            margin-top: 10px;
            position: absolute;
            left: 0;
            bottom: 0;

            dl {
                background-color: #EBEBEB;

                dt,
                dd {
                    float: left;
                }

                dt {
                    width: 198px;
                    height: 162px;
                    background-color: rgba(#000, .7);
                    box-sizing: border-box;
                    padding: 20px;
                    color: #ffffff;

                    p {
                        text-align: center;
                        font-weight: 400;
                        font-size: 75px;
                    }

                    h1 {
                        text-align: center;
                        font-size: 24px;
                        font-weight: 400;
                        margin-top: 10px;
                    }
                }

                dd {
                    a {
                        display: block;
                        height: 162px;
                        line-height: 162px;

                        img {
                            vertical-align: middle;
                            border-right: 1px solid #aaa;
                        }
                    }

                    &:last-child a img {
                        border: 0;
                    }
                }

            }
        }

        /* 固定定位-固定电梯导航块 经过考虑选择head_nav为固定定位父盒子*/
        .goods_fixed {
            width: 65px;
            height: 200px;
            position: fixed;
            left: 85px;
            top: 100px;
           /*  margin-left: -75px;
            margin-top: -82px; */

            ul {
                li {
                    font-size: 12px;
                    text-align: center;
                    height: 32px;
                    line-height: 32px;
                    padding: 0 4px;
                    border-bottom: 1px solid #cccccc;
                    background-color: #fff;

                    &:first-child {
                        border: 0;
                        background-color: $skin;
                        color: #ffffff;
                    }

                    a {
                        color: #666666;

                        &:hover {
                            color: $skin;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}



/* 家用电器和手机通讯商品展示模块样式 */
.goods_display {
    margin-top: 20px;

    .electronic {
        .ele_nav {
            height: 35px;
            line-height: 35px;

            dl {
                padding-right: 10px;
                border-bottom: 2px solid $skin;

                dt,
                dd {
                    float: left;
                }

                dt {
                    color: $skin;
                }

                dd {
                    float: right;
                    font-size: 12px;

                    >a {
                        color: #666666;

                        &:hover {
                            color: $skin;
                            text-decoration: none;
                        }
                    }

                    >span {
                        margin: 0 10px;
                    }

                    &:last-child a {
                        color: $skin_hover;
                    }
                }
            }
        }

        .ele_show {
            height: 360px;
            display: flex;
            flex-direction: row;
            margin-top: 2px;

            >.ele_left {
                width: 208px;

                /*  background-color: red; */
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 0 6px;

                    li {
                        text-align: center;
                        width: 95px;
                        height: 30px;
                        line-height: 30px;
                        border-bottom: 1px solid #bbb;

                        a {
                            color: #666666;
                            font-size: 12px;

                            &:hover {
                                text-decoration: none;
                                color: $skin;
                            }
                        }
                    }
                }

                .left_show {
                    margin-top: 10px;

                    a {
                        display: block;
                        text-align: center;
                        transition: all .8s ease;

                        img {
                            vertical-align: bottom;
                        }

                        &:hover {
                            transform: translateX(8px);
                        }
                    }
                }
            }

            >.ele_mid {
                width: 332px;

                /* background-color: orange; */
                .ele_lunbo {
                    width: 332px;
                    overflow: hidden;

                    ul {
                        width: 996px;

                        li {
                            float: left;

                            a {
                                display: block;
                                transition: all .8s ease;

                                &:hover {
                                    transform: translateX(8px);
                                }

                                img {
                                    vertical-align: bottom;
                                }
                            }
                        }
                    }
                }

            }

            >.ele_right {
                width: 660px;
                /* background-color: hotpink; */
                display: flex;

                .ele_fat {
                    flex: 1;

                    ul.ele_side {
                        width: 220px;
                        /* overflow: hidden; */

                        li {
                            float: left;
                            /*  width: 50%; */
                            border-right: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            position: relative;
                            z-index: 2;
                            overflow: hidden;

                            a {
                                display: block;
                                transition: all .8s ease;
                                position: relative;
                                z-index: 1;

                                &:hover {
                                    transform: translateX(8px);

                                }

                                img {
                                    vertical-align: bottom;
                                }
                            }
                        }
                    }
                }

                .ele_ctr {
                    flex: 1;

                    /* overflow: hidden; */
                    ul.ele_center {
                        width: 220px;

                        li {
                            float: left;
                            border-right: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            position: relative;
                            z-index: 12;
                            overflow: hidden;

                            a {
                                display: block;
                                transition: all .8s ease;
                                position: relative;
                                z-index: 11;

                                &:hover {
                                    transform: translateX(8px);
                                }

                                img {
                                    vertical-align: bottom;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

/* footer底部栏样式 */
.foot_box {
    height: 386px;
    background-color: #eee;
    padding: 30px;

    .qual_show {
        ul {
            display: flex;

            li {
                flex: 1;
                height: 78px;
                /* background-color: pink; */
                text-align: center;

                &>:nth-child(n) {
                    float: left;
                }

                .foot_cut {
                    width: 52px;
                    height: 52px;
                    margin: 13px 0 13px 32px;
                    overflow: hidden;

                    span {
                        content: '';
                        display: block;
                        width: 52px;
                        height: 52px;
                        background: url('../images/icons.png') no-repeat -253px 0;
                        padding: 13px 0;
                    }
                }

                .pro_save {
                    margin: 21px 0 21px 4px;

                    p {
                        font-size: 12px;
                        margin-bottom: 4px;
                        font-weight: 700;
                    }

                    h3 {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                &:nth-child(2) .foot_cut span {
                    background-position: -253px -52px;
                }

                &:nth-child(3) .foot_cut span {
                    background-position: -253px -104px;
                }

                &:nth-child(4) .foot_cut span {
                    background-position: -253px -156px;
                }

                &:nth-child(5) .foot_cut span {
                    background-position: -253px -208px;
                }
            }
        }
    }

    .footer_help {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 15px 0;

        ul {
            flex: 1;

            li {
                height: 22px;
                line-height: 22px;
                text-align: center;

                a {
                    font-size: 12px;
                    color: #666;

                    &:hover {
                        text-decoration: none;
                        color: $skin;
                    }
                }
            }

            &:last-child {
                li {
                    font-size: 14px;
                    margin-left: 45px;
                    margin-bottom: 5px;
                }

                li:nth-child(2) {
                    height: 95px;
                }

                li:last-child {
                    font-size: 12px;
                }
            }
        }
    }

    .help_link {
        ul {
            width: 838px;
            margin: 0 auto;

            li {
                float: left;
                text-align: center;

                a {
                    font-size: 12px;
                    color: #666666;

                    &:hover {
                        text-decoration: none;
                        color: $skin;
                    }
                }

                span {
                    font-size: 12px;
                    margin: 5px;
                }
            }
        }
    }

    .add_copy {
        margin-top: 10px;

        >p {
            font-size: 12px;
            text-align: center;
            color: #666666;
        }
    }
}